{% extends 'Newbase.html' %}
{% block content%}
<html>
    <body>
        <form method="post" action="{% url 'newpasswordAction' %}">
            {% csrf_token %}
        <table>
            <tr>
                <th>Newpassword</th>
                <td><input type="password" name="newpassword"></td>
                <td><input type="hidden" name="username" value="{{sr}}"></td>
            </tr>
            <tr>
                <th>Retype newpassword</th>
                <td><input type="password" name="retypenewpassword"></td>
            <tr>
                <th></th>
                <td><input type="submit" value="Confirm"></td>
            </tr>
        </table>
        </form>
    </body>
</html>
{% endblock %}