{% extends 'Newbase.html' %}
{% block content%}
<html>
    <body>
        <table>
             <tr>
                <th>Customername</th>
                <th>Address</th>
                <th>Phonenumber</th>
                
            </tr>
            {% for v in dt %}
            <tr>
                <td>{{v.Customername}}</td>
                <td>{{v.Address}}</td>
                <td>{{v.Phonenumber}}</td>
                <td><a href="{% url 'details' v.id %}">details</a></td>    
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}

{% if messages %}
    {% for msg in messages %}
    <script>
        alert('{{msg}}')
        </script>
    {% endfor %}

{% endif %}