{% extends 'Newbase.html' %}
{% block content%}
<html>
    <body>
        <form method="post" action="{% url 'ChangepasswordAction' %}">
            {% csrf_token %}
        <table>
            <tr>
                <th></th>
                <td><input type="text" name="currentpassword" placeholder="Currentpassword"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="password" name="newpassword" placeholder="Newpassword"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="password" name="retypenewpassword" placeholder="Retypenewpassword"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="confirm"></td>
            </tr>
        </table>
        </form>
    </body>
</html>
{% endblock %}