{% extends 'Newbase.html' %}
{% block content%}
<html>
    <body>
        <table>
            <tr>

                <th>Name</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Phonenumber</th>
                <th>Country</th>
                <th>File</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            {% for v in se %}
            <tr>
                <td>{{v.Name}}</td>
                <td>{{v.Gender}}</td>
                <td>{{v.DOB}}</td>
                <td>{{v.Phonenumber}}</td>
                <td>{{v.Country}}</td>
                <td>{{v.File}}</td>
                <td>{{v.Username}}</td>
                <td>{{v.Password}}</td>
                <td><a href="{% url 'approve' v.id %}">approve</a></td>
                <td><a href="{% url 'reject' v.id %}">reject</a></td>    
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}
